body {
font-family: Arial;
background: #0f0f0f;
color: #fff;
margin: 0;
}

.container {
max-width: 900px;
margin: auto;
padding: 20px;
}

input {
width: 100%;
padding: 10px;
margin-bottom: 20px;
}

.card {
background: #1c1c1c;
padding: 10px;
margin-bottom: 10px;
border-radius: 8px;
}
